    .indexdiv {
        height: 100px;
        width: 100%;
        background-color: powderblue;
    }
    .buttontop {
        padding: 8px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 20px;
        cursor: pointer;
    }
    .button{
        padding: 10px 25px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-left:300px;
        cursor: pointer;
    }
    .topdiv {
        height: 70px;
        width: 100%;
        font-size: 20px;
        background-color: powderblue;
    }
    .leftdiv {
        height: 500px;
        width: 15%;
        margin-top:1px;
        background-color: powderblue;
    }
    .rightdiv{
        height: 500px;
        width: 1090px;
        background-color: #e6f2ff;
        position: absolute;  
        top: 20px; 
        margin:auto;
        margin-top:120px;
        margin-left:194px;
    }
    .genrightdiv{
        height: 300px;
        width: 800px;
        background-color: #e6f2ff;
        position: relative;  
        top: 20px; 
        margin:auto;
        margin-top:30px;
        margin-left:10px;
    }
    .pdiv {
        border-bottom: 1px solid black;
        padding: 2px;
        text-decoration: none;
        font-size: 20px;
    }
    .buttong {
        padding: 15px 57px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        cursor: pointer;
    }
    .buttonc {
        padding: 15px 47px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        cursor: pointer;
    }
    .buttonp {
        padding: 15px 43px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        cursor: pointer;
    }
    .okcancel{
        cursor: pointer;
    }
    .hidecancel{
        cursor: pointer;
    }
    .credeninput{
        margin-top: 5px;
    }
    .generalinput{
        margin-left: 15px;
        width:150px;
        height:18px;
    }
    .radioinput{
        margin-left: 120px;
        width:18px;
        height:18px;
    }
    #radiodiv{
        height: 50px;
        width: 200px;
        margin-left:250px;
        font-size: 16px;
        background-color: #fff0b3;  
    }
    #checkdiv{
        height: 50px;
        width: 200px;
        margin-left:250px;
        font-size: 16px;
        background-color: #fff0b3;  
    }
    .passworderrorspan{
        width: 400px;
    }
    .passwordinputspan{
        width: 400px; 
    }
    .passworderrorcontainer{
        height: auto;
        width: 100px;
        margin-left:550px;
        background-color: #fff0b3;  
    }
    .popupcontent{
        position: absolute;
        margin-left: 300px;
        margin-top: 100px;
        height: 150px;
        width: 25%;
        border:5px solid #CCC;
        background-color:#F9F9F9;
        border:3px solid #ffe6b3;
        padding:30px;
    }
    #statusbar{
        margin-left: 10%px;
        margin-top: 70px;
    }
    table, th, td {
        border: 1px solid black;
    }
